
<h2>Title: {{newGifData.name}}</h2>
<p>Uploaded by: {{newGifData.author}}</p>
<p>Like: {{newGifData.like}}</p>
<p>Dislike: {{newGifData.dislike}}</p>
<p>Comments: {{newGifData.comments}}</p>

<img src="data:image/gif;base64,{{gif}}" alt="Alt text" />